<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Blog Title</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<body>
    <div id="header">
        <h1>Blog Title</h1>
    </div>
    <div id="navbar">
        <span>Home Placeholder</span>
        <div id = "rightNavButtons">
            <span>Placeholder</span>
            <span>Placeholder</span>
        </div>
    </div>
    <div id="container">
        <div id="content">
            {{{body}}}
        </div>
    </div>
</body>

</html>