<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>console.blog</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div id="header">
        <h1>console.blog</h1>
    </div>
    <div id="navbar">
        <a href="/"><span>Home</span></a>
        <div id = "rightNavButtons">
            {{#if user.authToken}}
                <a href="/create-article"><span>Create article</span></a>
                <a href="/my-articles"><span>My articles</span></a>
                <a href="/account-details"><span>My account</span></a>
                <a href="/logout"><span>Log out</span></a>   
                {{else}}
                <a href="/login"><span>Log in</span></a>
                <a href="/create-account"><span>Create account</span></a>
            {{/if}}
        </div>
    </div>
    <div id="container">
        <div id="content">
            {{{body}}}
        </div>
    </div>
</body>

</html>