<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Blog Title</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<body>
    <div id="header">
        <h1>Blog Title</h1>
    </div>
    <div id="navbar">
        <span>Home Placeholder</span>
        <div id = "rightNavButtons">
            {{#if cookie}}
                <span>Create article</span>
                <span>My articles</span>
                <span>My account</span>
                <span>Log out</span>   
                {{else}}
                <span>Log in</span>
                <span>Create account</span>
            {{/if}}
        </div>
    </div>
    <div id="container">
        <div id="content">
            {{{body}}}
        </div>
    </div>
</body>

</html>