<script src="checkNewPassword.js"></script>

<h1>Change password:</h1>

<form action="./change-password" method="POST">
    <div class="field">
        <label for="txtNewPassword">Enter new password:</label>
        <input type="password" name="newPassword" id="txtNewPassword" required>
    </div>

    <div class="field">
        <label for="txtConfirmNewPassword">Re-enter password:</label>
        <input type="password" name="confirmNewPassword" id="txtConfirmNewPassword" required>
        <span id="confirmPasswordMessage"></span>
    </div>

    <div class="field justify-sb align-center">
        <input type="submit" id="submitButton">
    </div>

</form>