<script src="/javascript/checkNewPassword.js"></script>

<p id="confirmPasswordMessage" class="passwordNotMatching"></p>

<h1 class="header">Change password:</h1>

<form action="./change-password" method="POST" class="form">
    
    <div class="inputsDiv">
    
    <div class="field">
        <label for="txtNewPassword">Enter new password:</label>
        <input type="password" name="newPassword" id="txtNewPassword" size="30" required>
    </div>

    <div class="field">
        <label for="txtConfirmNewPassword">Re-enter password:</label>
        <input type="password" name="confirmNewPassword" id="txtConfirmNewPassword" size="30" required>
    </div>

    </div>
    <br>

    <div class="field justify-sb align-center">
        <input type="submit" id="submitButton">
    </div>

</form>