<h2>Newest articles for you</h2>
<p class="sort">Sort by: </p> 
<form action="./home" method="GET">
<select name="sort">
    <option value="mostRecent">Most recent</option>
    <option value="leastRecent">Least recent</option>
    <option value="author">Author</option>
    <option value="title">Title</option>
</select>
</form>



<div class="articleContainer">

{{#if articles}}
{{#each articles}}
<div class="article">
<a href="./article/{{this.id}}">{{this.title}}</a>
</div>
{{/each}}
{{/if}}
</div>