<form action="./myarticles" method="GET">

<h1>Articles by me:</h1>

<div id ="orderMyArticlesBox">
    <label for="orderMyArticles">Sort by:</label>
        <select name="orderMyArticles" id="orderMyArticles">
        <option value="date">Date</option>
        <option value="title">Title</option>
        </select>
</div>

<div id ="myArticlesView">
    {{!
    If articles by user, display here in a grid/flex
    What to display: just title as a link? Option to go straight to edit page?
     }}
</div>

</form>


