<head>
    <script src="https://cdn.tiny.cloud/1/4zc1z98ilf3klitpp7ou6h01pbtqopz2i2r62lq5kp86weu2/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
        selector: '#newArticle',
        menubar: false,
        plugins: 'lists save',
        toolbar: 'undo redo | styleselect | forecolor | bold italic underline | alignleft aligncenter alignright alignjustify | numlist bullist | save'

        });
    </script>
</head>

<h1>Create or edit an article:</h1>

<div id="newArticleContainer">

    <div id="newArticle">
        <form action="new-article" method="GET">
            <h1>Article heading placeholder</h1>
            <img src="./images/Dragonite.png">
            <p>
                Article content placeholder
            </p>
        </form>
    </div>