<script src="https://cdn.tiny.cloud/1/4zc1z98ilf3klitpp7ou6h01pbtqopz2i2r62lq5kp86weu2/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script src="./wysiwyg.js"></script>

<div id="newArticleContainer">

    <h1>Create or edit an article:</h1>

    <form action="new-article" method="GET">
        <div id="newArticle">
         
        </div>
    </form>
</div>