<form action="read-article" method="GET">

<div id ="articleView">
    <h1>Article heading placeholder</h1>
    <img src="./images/Dragonite.png">
    <p>
        Article content placeholder
    </p>
</div>
<br>
<div id="commentView">
    <label for="commentBox">Comments:</label>
    <br>
    <textarea id="commentBox" name="commentBox" rows="4" cols="50" maxlength="300">Add a comment!</textarea>
</div>
</form>