* {
    /* border: black 1px solid; */
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}

#header {
    background-color: orange;
    font-size: 140%;
    display: flex;
    justify-content: center;
}

#navbar {
    background-color: #10cde6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

div > a {
    color: inherit;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

#container {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: ". c .";
    margin-top: 20px;
}

@media (max-width: 768px) {
    
    #container {

        display: grid;
        grid-template-columns: 6fr;
        grid-template-rows: auto;
        grid-template-areas: "c c c c c c";
        margin-top: 20px;
    }

    #articleImage {
        width: 100%;
    }
}

#content {
    grid-area: c;
}

.sortAndArticlesContainer {
    font-size: large;
}

.sortButtonContainer {
    text-align: center;
}

.sortButtons {
    margin-left: 3px;
    margin-right: 3px;
}

.articleCard {
    border: 2px black solid;
    border-radius: 30px;
    padding: 1px 20px 1px 20px;
    margin: 30px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articleCard:hover {
    background-color: rgb(170, 197, 224);
    /* border-color: royalblue; */
}

#avatar {
    transform: scale(1);
  }

#commentBox div {
    padding: 10px;
}

#level1Comments > div {
    margin-left: 30px;
}

#level1Comments > div > div {
    margin-left: 30px;
}

#commentBox button {
    margin: 8px;
}

.eachComment {
    display: flex;
    padding: 10px;
}

.form {
    display: table;
    margin: auto;
}

.form > div {
    display: table-row;
}

.loginButtons {
    margin: 5px 0px 10px 0px;
}

#loginButton {
    margin-top: 10px;
}

.homeGreeting, .header, #noArticles, .passwordNotMatching {
    text-align: center;
}

.inputsDiv label {
    display: table-cell;
    padding-top: 15px;
}

#changePasswordButton {
    padding-top: 5px;
}

#editAvatar > img, #chooseAvatar > img {
    margin: 0px 20px 0px 2px;
    /* margin-right: 20px; */
}

#accountDetailsTable {

    font-size: large;
    border-radius: 5px;
    padding: 10px;
    table-layout: fixed;
    border-spacing: 20px;
    margin: auto;
}

.accountDetailsTableHead, .accountDetailsTable {
    background-color: #f5f5f5;
    padding: 10px;   
}

.accountDetailsTable {
    width: 70%;
    text-align: center;
}

#accountDetailsButtons {
    display: flex;
    justify-content: center;
}

#accountDetailsEdit,
#accountDetailsDelete {
    padding: 20px;
}