* {
    /* border: black 1px solid; */
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}

#header {
    background-color: orange;
    text-align: center;
}

#navbar {
    background-color: #10cde6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div > a {
    color: inherit;
    text-decoration: none;
}

#container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: ". c .";
}

#content {
    grid-area: c;
}

/* #commentBox, #commentDisplay, .replay {
    border: 1px black solid;
} */