* {
    /* border: black 1px solid; */
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}

#header {
    background-color: orange;
    display: flex;
    justify-content: center;
}

#navbar {
    background-color: #10cde6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

div > a {
    color: inherit;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

#container {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: ". c .";
}

#content {
    grid-area: c;
}

.sortAndArticlesContainer {
    font-size: large;
}

.sortButtonContainer {
    text-align: center;
}

.articlesTable {
    margin: auto;
}