* {
    /* border: black 1px solid; */
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}

#header {
    background-color: orange;
    font-size: 140%;
    display: flex;
    justify-content: center;
}

#navbar {
    background-color: #8fd0f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

div > a {
    color: inherit;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

#container {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: ". c .";
    margin-top: 20px;
}

#content {
    grid-area: c;
}

.sortAndArticlesContainer {
    font-size: large;
}

.sortButtonContainer {
    text-align: center;
}

.sortButtons {
    margin-left: 3px;
    margin-right: 3px;
}

.articleCard {
    border: 2px black solid;
    border-radius: 30px;
    padding: 1px 20px 1px 20px;
    margin: 30px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articleCard:hover {
    background-color: rgb(170, 197, 224);
    /* border-color: royalblue; */
}

#avatar {
    transform: scale(1);
  }

#commentBox div {
    padding: 10px;
}

#level1Comments > div {
    margin-left: 30px;
}

#level1Comments > div > div {
    margin-left: 30px;
}

#commentBox button {
    margin: 8px;
}

.eachComment {
    display: flex;
    padding: 10px;
}

#loginForm {
    display: table;
    margin: auto;
}

#loginForm > div {
    display: table-row;
}

#loginInputsDiv label {
    display: table-cell;
}

.loginButtons {
    margin: 5px 0px 10px 0px;
}

#loginButton {
    margin-top: 10px;
}

